<body>
    <!-- <div style="width: 3cm;" align="right">
        <button type="button" class="btn btn-success" (click)="logout()">logout</button>
  </div> -->
    <ul>
        <li><button type="button" class="btn btn-outline-success" (click)="back()">Back</button></li>  
      <li style="float:center"><a class="active">&nbsp;&nbsp;&nbsp;</a></li>
      <li style="float:right"><button type="button" class="btn btn-success" (click)="logout()">logout</button></li>
    </ul>
    
    
    
    <h2 style="text-align:center">Product Cart</h2><br><br>
    
    <div class="card">
      <img src="assets/meat.jpeg" alt="meat" style="width:100%">
      <h1>Meat</h1>
      <p class="price">100 Rs</p>
      <p></p>
      <p><button onclick="document.getElementById('id01').style.display='block'" >Add to Cart</button></p>
      <div id="id01" class="modal">
      
          <form class="modal-content animate">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
 
            </div>
        
            <div class="container" >
              
               enter the qty <input  type="number" id="myNumber"> 
               <!-- <button (click)="continue()">Continue Shopping</button> -->
              <button (click)="addCart()">Continue for Billing</button>
        
            </div>
          </form>
        </div>
    </div><br><br>
    <br>
    <h2 style="text-align:center"></h2>
    
    <div class="card">
      <img src="assets/fish.jpeg" alt="fish" style="width:100%">
      <h1>Fish</h1>
      <p class="price">80 Rs</p>
      <p></p>
      <p><button onclick="document.getElementById('id01').style.display='block'" >Add to Cart</button></p>
      <div id="id01" class="modal">
      
          <form class="modal-content animate">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

            </div>
        
            <div class="container" >
              
               enter the qty <input  type="number" id="myNumber"> 
               <button (click)="continue()">Continue Shopping</button>
               <button (click)="addCart()">Continue for Billing</button>
        
            </div>
          </form>
        </div>
    </div>
    <br>
    <h2 style="text-align:center"></h2>
    
    <div class="card">
      <img src="assets/chicken.jpeg" alt="fish" style="width:100%">
      <h1>Chicken</h1>
      <p class="price">120 Rs</p>
      <p></p>
      <p><button onclick="document.getElementById('id01').style.display='block'" >Add to Cart</button></p>
      <div id="id01" class="modal">
      
          <form class="modal-content animate">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
        
            <div class="container" >
              
               enter the qty <input  type="number" id="myNumber"> 
                <button (click)="continue()">Continue Shopping</button>
                <button (click)="addCart()">Continue for Billing</button>
        
            </div>
          </form>
        </div>
      <script>
          // Get the modal
          var modal = document.getElementById('id01');
          
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
          function myFunction() {
            document.getElementById("myNumber").stepUp();
          }
          </script>
           
    </div>
    
    
    </body>