
<body>
<!-- <a href="signup"><button type="submit" style="width:3cm">signUp</button><a> -->

<div align="center">
    <div style="width:10cm"><br><br><br><br><br>
        
        <h2>GroceryCart Login</h2><br>

        <form class="form-container" role="form" #form="ngForm" autocomplete="off">
<!-- aaaaaaa -->
            <!-- <div class="imgcontainer">
                 <img src="assets/j.jpeg" alt="Avatar" class="avatar">
            </div> -->
<!-- aaaaaa -->
             <div class="container">
                 <div class="input">
                 <label for="uname"><b>Username</b></label>
                 <input type="text" id="name" placeholder="username" name="name" class="form-control" required minlength="4" [(ngModel)]="name" #names="ngModel" >

                 <div *ngIf="names.invalid && (names.dirty || names.touched) && names.errors.required" class="validation-error" style="color: red;">
                        Name is required.
                 </div>
                 <div *ngIf="names.invalid && (names.dirty || names.touched) && names.errors.minlength" class="validation-error" style="color: red;">
                        Name is required with minlength 4.
                 </div>
             </div>
             <div class="input">
                <label for="psw"><b>Password</b></label>
                <input type="password" id="password" placeholder="password" name="password" class="form-control" required minlength="8" [(ngModel)]="password" #passwords="ngModel" >
          
                <div *ngIf="passwords.invalid && (passwords.dirty || passwords.touched) && passwords.errors.required" class="validation-error" style="color: red;" >
                        Password is required.
                </div>
                <div *ngIf="passwords.invalid && (passwords.dirty || passwords.touched) && passwords.errors.minlength" class="validation-error" style="color: red;" >
                        Password is required with minlength 8.
                </div>
            
             </div><button class="btn btn-info btn-block" type="submit" style="background-color:green" [disabled]="form.invalid" (click)="login()">Login</button>
                
             </div>
             <a href="">go back to home</a>
        </form>
        <!-- <button type="submit" style="width:3cm" (click)="signup()">signUp</button> -->
    </div>
</div>
</body>
