// body {font-family: Arial, Helvetica, sans-serif;}
// form {border: 3px solid #f1f1f1;}

// input[type=text], input[type=password] {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   box-sizing: border-box;
// }

// button {
//   background-color: #4CAF50;
//   color: white;
//   padding: 14px 20px;
//   margin: 8px 0;
//   border: none;
//   cursor: pointer;
//   width: 100%;
// }

// button:hover {
//   opacity: 0.8;
// }

// .cancelbtn {
//   width: auto;
//   padding: 10px 18px;
//   background-color: #f44336;
// }

// .imgcontainer {
//   text-align: center;
//   margin: 24px 0 12px 0;
// }

// img.avatar {
//   width: 40%;
//   border-radius: 50%;
// }

// .container {
//   padding: 16px;
// }

// span.psw {
//   float: right;
//   padding-top: 16px;
// }

// /* Change styles for span and cancel button on extra small screens */
// @media screen and (max-width: 300px) {
//   span.psw {
//      display: block;
//      float: none;
//   }
//   .cancelbtn {
//      width: 100%;
//   }
// }

// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: green;
// }

// li {
//   float: left;
// }

// li a {
//   display: block;
//   color: white;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }


body {font-family: Arial, Helvetica, sans-serif;}
// form {border: 3px solid #f1f1f1;}

// input[type=text], input[type=password] {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   box-sizing: border-box;
// }

button {
  background-color: #4CAF50;
  color: white;
  // padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 3cm;
  height: 1.2cm;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 20px 0 8px 0;
  border-color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkblue;

}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

body {
  background-image: url("https://image.shutterstock.com/image-photo/blurred-image-bakery-shop-background-260nw-286459268.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  height: 860px;

}

// div {
//   color: white;
//   text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkblue;
//   background-size: 100% 100%;
  
// }
form {
	box-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkblue;
}


